<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <base href="/">
    <title>middle page</title>
    <link rel="stylesheet" href="rib-css.css">
</head>

<body>
    <div id="formDiv" class="subscribe-box" > 
        <h2> Vous avez modifié votre RIB avec succès</h2>
            <a href="http://localhost:4200/index.html">
            <button type="submit">Retour à la page de connexion</button> 
            </a>
        </form>
    </div>


</body>