<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <base href="/">
    <title>FORM RIB</title>
</head>

<body>
    <script>
        function validateForm(){
            var myHeaders = new Headers();
            var data = new URLSearchParams();
            data.append("LANG", "FR");
            data.append("SCHEMANAME","OtpMailModifyPasssword");
            data.append("AUTHENTICATION.LOGIN", "olivier.lisandre@idento.fr");

            var myInit = { method: 'POST',
            headers: myHeaders,
            //mode: 'no-cors',
            cache: 'default',
            body: data};

            fetch('https://uneo-dev.cloud.ilex.fr:8443/webservice/doAuth',myInit)
            .then( res => {
                console.log(res);
            });
              /*  function(response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' + response.status);
                    //return;
                }

                // Examine the text in the response
                response.json().then(function(data) {
                    console.log(data);
                });
                }
            )*/
            /*.catch(function(err) {
                console.log('Fetch Error :-S', err);
            });*/
        }
    </script>

    <h1>FORM RIB</h1>
    <div id=formDiv>
        <form name="myForm">
            <label for="newRib">Entrez votre Nouveau RIB</label>
            <input type="text" value="Nouveau RIB" name="newRib" id="newRib">
            <input type="submit" value="Submit" onclick="window.location.href = 'https://uneo-dev.cloud.ilex.fr:8443/user/auth/chooseschema?schema=OtpMailModifyPasssword&sourceURL=http://localhost:4200/rib-form.html&theme=uneo-authentication';" >
        </form>
    </div>


</body>