<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <base href="/">
    <title>Authentification en cours...</title>
</head>

<body>

    <h1>Authentification en cours...</h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.1/oidc-client.min.js"></script>
    <script>
        var UserManager = new Oidc.UserManager({response_mode:"query"});
        UserManager.signinRedirectCallback()
        .then(res => {
            console.log(res);
            window.location = "rib-form.html";
        }).catch(function (e) {
            console.error(e);
        });
    </script>


</body>

</html>