<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <base href="/">
    <title>FORM RIB</title>
    <link rel="stylesheet" href="rib-css.css">
    <script>
        /*function displayPage(){
            var x = document.getElementById("formDiv");
            var json = JSON.parse(sessionStorage.getItem("oidc.user:https://epdev.groupe-uneo.fr/IdPOAuth2/default/:50FAA2174E642DAE"));
            var seconds = new Date().getTime()/ 1000;
            if (sessionStorage.getItem("oidc.user:https://epdev.groupe-uneo.fr/IdPOAuth2/default/:50FAA2174E642DAE")  == null){
                //x.style.display="none";
                window.location = "index.html";

            }
            else {
                if (seconds+3600-10 >= json.expires_at) {
                    //x.style.display="none";
                    window.location = "index.html";
                }  
                else{
                    console.log(json);
                }     
            }*/
           /* else {
                var UserManager = new Oidc.UserManager({response_mode:"query"});
                UserManager.signinRedirectCallback()
                .then(res => {
                    x.style.display="none";
                }).catch(function (e) {
                    console.error(e);
                    x.style.display="none";;
                });
                
            }*/
            /*else {
                var myHeaders = new Headers();

                var myInit = { method: 'GET',
                    headers: myHeaders,
                    mode: 'no-cors',
                    cache: 'default' };

                fetch('https://uneo-dev.cloud.ilex.fr:8443/user/auth/chooseschema?schema=OtpMailModifyPasssword&sourceURL=http://localhost:4200/rib-form.html&theme=uneo-authentication',myInit)
                    .then(
                        function(response) {
                        if (response.status !== 200) {
                            console.log('Looks like there was a problem. Status Code: ' +
                            response.status);
                            return;
                        }

                        // Examine the text in the response
                        response.json().then(function(data) {
                            console.log(data);
                        });
                        }
                    )
                    .catch(function(err) {
                        console.log('Fetch Error :-S', err);
                    });
            }*/
        //}
    </script>
</head>

<body>
    <div id="formDiv" action="https://website.com/action.php" class="subscribe-box" > 
        <h2> Entrer votre nouveau RIB</h2>
            <input type="text" placeholder="XXXX XXXX XXXX XXXX XXXX XXX" autocomplete="off" required/>
            <a href="http://localhost:4200/index.html">
                <button className="btn btn-primary btn-login" style={{ margin: '10px' }} >Envoyer </button>
              </a>  
    </div>


</body>